@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown h1 {
  @apply text-3xl;
  @apply text-slate-800;
  @apply font-bold;
  @apply font-Montserrat;
  @apply my-8;
}

.markdown h2 {
  @apply text-2xl;
  @apply text-slate-800;
  @apply font-bold;
  @apply font-Montserrat;
  @apply mt-12;
  @apply mb-6;
}

.markdown h3 {
  @apply text-xl;
  @apply text-slate-800;
  @apply font-bold;
  @apply font-Montserrat;
  @apply mt-10;
  @apply mb-6;
}

.markdown h4 {
  @apply text-lg;
  @apply text-slate-800;
  @apply font-bold;
  @apply font-Montserrat;
  @apply mt-8;
  @apply mb-4;
}

.markdown h5 {
  @apply text-base;
  @apply text-slate-800;
  @apply font-bold;
  @apply font-Montserrat;
  @apply mt-6;
  @apply mb-3;
}

.markdown p {
  @apply text-base;
  @apply text-slate-700;
  @apply mb-3;
}

.markdown li {
  @apply my-2;
}

.markdown pre:not(.preview) {
  @apply overflow-x-auto;
  @apply bg-gray-800;
  @apply text-white;
  @apply py-5;
  @apply px-7;
  @apply rounded;
  @apply my-4;
  @apply font-SourceCodePro !important;
  @apply text-[0.95em] !important;
  @apply shadow;
}

.markdown pre.preview {
  @apply overflow-x-auto;
  @apply border-l-4;
  @apply border-slate-300;
  @apply border-opacity-50;
  @apply py-2;
  @apply px-3;
  @apply my-3;
  @apply font-Lato !important;
}

.markdown pre.preview button {
  @apply rounded;
  @apply px-3;
  @apply py-1;
  @apply m-1;
  @apply bg-pink-600;
  @apply bg-opacity-100;
  @apply hover:bg-pink-700;
  @apply hover:active:bg-pink-800;
  @apply transition-colors;
  @apply font-bold;
  @apply text-white;
}

.markdown pre.preview div {
  @apply rounded;
  @apply p-2;
  @apply m-1;
}

.markdown :not(pre) > code {
  @apply font-SourceCodePro !important;
  @apply text-[0.95em] !important;
  @apply text-slate-800;
  @apply font-bold;
}

.markdown :not(pre) > code::before, .markdown :not(pre) > code::after {
  @apply content-["`"];
}

.markdown a {
  @apply text-pink-600;
  @apply hover:text-pink-800;
  @apply transition-colors;
  @apply font-bold;
}

.markdown ul {
  @apply list-disc;
  @apply ml-8;
  @apply my-2;
}

img.emoji {
  @apply inline-block;
  height: 1.1em;
  width: 1.2em;
  margin: 0 0.3em;
  vertical-align: -0.25em;
}
